Chap1/data/
Chap2/data/
Chap3/Chap3-1/data/
Chap3/Chap3-1/out_docling/
Chap3/Chap3-2/data/
Chap3/Chap3-2/out_docling/
Chap4/data/
Chap4/doc/
Chap4/00zentai.pdf
Chap5/data/
Chap5/doc/
Chap6/data/
Chap6/iu_xray/
Chap6/iu_xray.zip
